@using Newtonsoft.Json
@inject Funiture_Project.Areas.Admin.Models.AdminSideBarService _AdminSideBarService;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Sidebar{
    @Html.Raw(_AdminSideBarService.renderHtml())
}
    @{
    _AdminSideBarService.setActive("ThongKe", "Index", "Admin");
}
<div class="row">
    <div class="col-sm-6">
        <div class="cart">
            <div class="card-header">
                <h1 class="h3 mb-2 text-gray-800">Doanh thu năm 2022</h1>

            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="myChart"></canvas>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart');

    var lsdata = @Html.Raw(JsonConvert.SerializeObject(ViewBag.DoanhThu));
    //var barChartData = {
    //    labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
    //    datasets: [{
    //        label: 'DOANH THU',
    //        data: ,
    //        borderWidth: 1
    //    }]
    //};
    //var myBarChart = new Chart(ctx,{
    //    type: 'bar',
    //    data: barChartData
    //});
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [{
                label: 'DOANH THU',
                data: lsdata,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>